{% extends "sumApp/base.html" %}
{% load static %}

{% block title %}About - DocuSum{% endblock %}

{% block content %}
    <header class="bg-primary-gradient " style="background: rgb(255,255,255); ">
        <div class="container py-5 ">
            <div class="row py-5 ">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4 ">
                    <div style="max-width: 450px; ">
                        <h2 class="fw-bold ">Unveiling the power of instant insights</h2>
                        <p class="my-3 "><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); ">DocuSum is an innovative web service designed to simplify the way you interact with text documents. Our mission is to empower users with the ability to quickly access essential information within lengthy documents. Through the application of cutting-edge natural language processing and machine learning algorithms,&nbsp;</span>
                            <span
                                style="color: rgb(0, 0, 0); ">DocuSum</span><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); ">&nbsp;automatically generates concise summaries of input documents.</span></p>
                        <p class="my-3 "><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); ">Our platform supports a wide range of document formats, including PDFs, Word documents (.docx), and text documents from Google Drive. With&nbsp;</span>
                            <span
                                style="color: rgb(0, 0, 0); ">DocuSum</span><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); ">, users have the flexibility to specify their desired summary length in sentences. The system intelligently analyzes the content, extracting key sentences and presenting them in a readable format.</span></p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 ">
                    <div style="max-width: 450px; "><img class="rounded img-fluid shadow w-100 fit-cover " style="min-height: 300px; " src="{% static '/assets/img/Firefly%20Minimalist%203d%20render%20of%20a%20document%20summarizer%20with%20a%20wes%20anderson%20style%20background%2022601.jpg' %}"></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
